In [1]:
#to download dataset vist https://dockship.io/challenges/5f8817fc2ff55918a0995333/machine-learning-india-ai-challenge/overview
!wget -O "machine_learning_india_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/66f283fd33eba21756522f1d21cef38d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210102%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210102T153038Z&X-Amz-Expires=1800&X-Amz-Signature=b77f61a1c72318b68eadc502212f8e3e09d4172118306b385b74a17c166dca5f&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22machine_learning_india_ai_challenge-dataset.zip%22"

--2021-01-02 15:31:08--  https://dockship-job-models.s3.ap-south-1.amazonaws.com/66f283fd33eba21756522f1d21cef38d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210102%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210102T153038Z&X-Amz-Expires=1800&X-Amz-Signature=b77f61a1c72318b68eadc502212f8e3e09d4172118306b385b74a17c166dca5f&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22machine_learning_india_ai_challenge-dataset.zip%22
Resolving dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)... 52.219.62.87
Connecting to dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)|52.219.62.87|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71409536 (68M) [binary/octet-stream]
Saving to: ‘machine_learning_india_ai_challenge-dataset.zip’

machine_learning_in 100%[===================>]  68.10M  23.7MB/s    in 2.9s

2021-01-02 15:31:11 (23.7 MB/s) - ‘machine_learning_india_ai_challenge-dataset.zip’ saved [71409536/71409536]

In [2]:
###Libraries
import pandas as pd
import numpy as np

In [3]:
##Library to import zipfile
import zipfile
with zipfile.ZipFile("machine_learning_india_ai_challenge-dataset.zip", 'r') as zip_ref:
 zip_ref.extractall("/content")
train_data=pd.read_csv("TRAIN.csv")
test_data=pd.read_csv("TEST.csv")

In [4]:
##EDA of Train data
train_data.head()

   Index        V1        V2        V3  ...       V27       V28  Amount  Class
0      0  2.245295 -1.160960 -1.966682  ... -0.047350 -0.064800   74.75      0
1      1  1.278609  0.102574  0.512079  ... -0.078720  0.008119    1.38      0
2      2  1.466457  0.026088 -0.499298  ...  0.001524  0.030935   10.95      0
3      3 -0.922137 -0.371579  2.132018  ... -0.034480 -0.064786    8.04      0
4      4 -1.166525  0.255439  2.108464  ...  0.029124  0.091303  175.00      0

[5 rows x 31 columns]

In [ ]:
test_data.head()

In [ ]:
train_data.shape,test_data.shape

In [ ]:
train_data.info()

In [ ]:
train_data.isnull().sum()

In [5]:
predictors=train_data.columns[1:30]
target=train_data.columns[30]
train_data["Class"].value_counts()

0    284015
1       440
Name: Class, dtype: int64

In [6]:
train_data_norm=train_data.copy()
test_data_norm=test_data.copy()
test_data_norm.drop(["Index"],axis=1,inplace=True)

In [7]:
#Data Preprocessing
from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
train_data_norm[predictors]=scaler.fit_transform(train_data_norm[predictors].values)
test_data_norm=scaler.fit_transform(test_data_norm.values)

In [8]:
#Splitting data into 80-20 ratio 
from sklearn.model_selection import train_test_split
train,test = train_test_split(train_data_norm,test_size = 0.2,random_state=50)

In [ ]:
#Using SMOTE Algorithm Oversampling of minority class samples to handle imbalance dataset
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state = 50)

In [10]:
X_train_res, Y_train_res = sm.fit_sample(train[predictors],train[target])

X_test_res,Y_test_res = sm.fit_sample(test[predictors],test[target])

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [12]:
#XGBoost Model for oversampled data using smote
#########XG Boosting##############
from xgboost import XGBClassifier
model1= XGBClassifier(max_depth=12,random_state=10, learning_rate=0.2,n_estimators=250)

In [13]:
model1.fit(X_train_res, Y_train_res)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=12,
              min_child_weight=1, missing=None, n_estimators=250, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=10,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [14]:
from sklearn.metrics import accuracy_score
y_test=model1.predict(X_test_res)
y_train=model1.predict(X_train_res)
print("test:",accuracy_score(Y_test_res,y_test))
print("train:",accuracy_score(Y_train_res,y_train))

test: 0.9161296570180999
train: 1.0

In [15]:
pd.crosstab(Y_test_res,pd.Series(model1.predict(X_test_res)))

col_0      0      1
row_0
0      56786     10
1       9517  47279

In [16]:
pd.crosstab(Y_train_res,y_train)

col_0       0       1
row_0
0      227219       0
1           0  227219

In [17]:
from sklearn.metrics import classification_report
print(classification_report(Y_test_res,pd.Series(model1.predict(X_test_res))))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92     56796
           1       1.00      0.83      0.91     56796

    accuracy                           0.92    113592
   macro avg       0.93      0.92      0.92    113592
weighted avg       0.93      0.92      0.92    113592

In [21]:
# function to create confusion matrix of a model
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

def model_confusion_matrix(model,method, X_train=X_train_res,  y_train=Y_train_res):
  pred = cross_val_predict(model1, X_train, y_train)
  scores = cross_val_predict(model1, X_train, y_train, method=method)
  return pred, confusion_matrix(y_train,pred), scores

In [ ]:
y_train_xgb_pred, y_xgb_confusion, xgb_scores = model_confusion_matrix(model1,method='decision_function')

In [23]:
# function to calculate precision recall and f1_score of a model
from sklearn.metrics import precision_score, recall_score, f1_score

def model_precision_recall_f1(model_name,ytrain, pred):
  precision, recall, f1 = precision_score(ytrain, pred), recall_score(ytrain, pred), f1_score(ytrain, pred)
  print(model_name + ' Precsion:', precision)
  print(model_name + " Recall:", recall)
  print(model_name + "F1 Score:", f1)
  return precision, recall, f1

In [24]:
xgb_precision, xgb_recall, xgb_f1 = model_precision_recall_f1("XGBoost",Y_train_res, y_train)

XGBoost Precsion: 1.0
XGBoost Recall: 1.0
XGBoostF1 Score: 1.0

In [25]:
# function to plot precision vs recall
from sklearn.metrics import precision_recall_curve

def plot_precision_vs_recall(model_name,scores,y_train=Y_train_res):
    precisions, recalls, thresholds = precision_recall_curve(y_train, scores)
    plt.plot(recalls, precisions)
    plt.xlabel("Recall", fontsize=16)
    plt.ylabel("Precision", fontsize=16)
    plt.title(model_name + " Precision v/s Recall")
    plt.axis([0, 1, 0, 1])
    plt.grid(True)

In [ ]:
plot_precision_vs_recall("XGBoost",xgb_scores)

In [ ]:
# function to plot ROC Curve
from sklearn.metrics import roc_curve

def plot_model_roc_curve(label,ytrain,scores):
    fpr, tpr, thresholds = roc_curve(ytrain, scores)
    plt.plot(fpr, tpr, linewidth=2, label=label + " ROC Curve")
    plt.plot([0, 1], [0, 1], 'k--')
    plt.axis([0, 1, 0, 1])
    plt.xlabel('False Positive Rate', fontsize=16)
    plt.ylabel('True Positive Rate', fontsize=16)

In [ ]:
plot_model_roc_curve("SGDClassifier", Y_train_res, xgb_scores)

In [ ]:
# function to calculate roc auc score of model
from sklearn.metrics import roc_auc_score

def cal_model_auc_score(model_name,ytrain,scores):
  auc_score = roc_auc_score(ytrain, scores)
  print(model_name + " AUC Score:", auc_score)

In [ ]:
cal_model_auc_score("SGDClassifier",Y_train_res,xgb_scores)

In [ ]:
final_test_data=np.array(test_data_norm)

In [ ]:
final=pd.Series(model1.predict(final_test_data))
final.value_counts()

In [ ]:
with zipfile.ZipFile("machine_learning_india_ai_challenge-dataset.zip", 'r') as zip_ref:
  zip_ref.extractall("/content")
s=pd.read_csv("/content/sample_submission.csv")
s["Class"]

In [ ]:
s["Class"]=final

In [ ]:
s.Class.value_counts()

In [ ]:
s.to_csv("sample_submission.csv",encoding="utf-8")
## Achieved Accuracy 96.30